.map-sidebar-container {
    margin: 0;
    padding: 0;
    background-color: whitesmoke;
}

.map-sidebar-container #a_div {
    display: none;
}

.map-sidebar-container #a_image {
    height: 150px;
    width: 150px;
}

.map-sidebar-container .company-info {
    padding: 20px;
}

.map-sidebar-container .company-info #company-name {
    padding: 10px;
}

.map-sidebar-container .product-name {
    font-weight: bold;
    font-size: 1em;
}

.map-sidebar-container .product-price {
    font-size: 2em;
    color: black;
}

.map-sidebar-container #offers {
    margin-bottom: 1em;
}
